# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/

/api/target/
/application/target/
/core/target/
/dal/target/
/domain/target/
/rest-presenters/target/
/tests/target/
